/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

/* CONTENITORE */
.container{
    margin: 0 auto;
    max-width: 1180px;
    background-color: white;
}

.header-container{
    margin: 0 auto;
    max-width: 700px;
    margin-top: 80px;
}

header{
    height: 500px;
    margin-top: 20px;
}

/* CONTENITORE FLEX */

.flex-container{
    display: flex;
}

/* FLEX PROPERTY */

.content-evenly{
    justify-content: space-evenly;
}

.content-between{
    justify-content: space-between;
}


/* SETTING UL E LI */

ul{
    list-style-type: none;
}

li{
    display: inline;
    margin:0 10px;
    color: white;
}

a{
    text-decoration: none;
}

/* Button */

.button{
    width: 60px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    background-color: aqua;
    line-height: 30px;
}

.margin{
    margin-top: 20px;
}

.par-button{
    margin: 0 15px;
}

/* Testo */

.text-center{
    text-align: center;
}

p{
    margin-top: 30px;
}

.white-text{
    color: white;
}

/* Flex container annidato */

.language{
    width: calc(100% / 3);
    min-height: 300px;
    color: #5C6EA9;
}

.link{
    width: calc(100% / 3 * 2);
    color: #5C6EA9;
    min-height: 600px;
}

.grey-section{
    background-color: #F6F6F6;
}
